name: HawkScan Integration Tests
on:
  repository_dispatch:
    types: [integration-test]
jobs:
  hawkscan:
    name: HawkScan Action Integration Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create ${{ github.event.client_payload.repoName }} app directory
        run: mkdir -p __tests__/integration-tests/apps/${{ github.event.client_payload.repoName }}
      - name: Navigate to ${{ github.event.client_payload.repoName }} app directory
        run: cd __tests__/integration-tests/apps/${{ github.event.client_payload.repoName }}
      - name: Checkout vulny repo
        run: git clone https://github.com/${{ github.event.client_payload.repoOrg }}/${{ github.event.client_payload.repoName }}.git
      - name: Run ${{ github.event.client_payload.repoName }}
        run: docker-compose up -d
      - name: Navigate to scan config directory
        run: cd /home/runner/work/hawkscan-action/__tests__/integration-tests/${{ github.event.client_payload.repoName }}
      - name: Run HawkScan
        id: run-hawkscan
        uses: stackhawk/hawkscan-action@main
        with:
          apiKey: ${{ secrets.HAWK_API_KEY }}
          configurationFiles: ${{ github.event.client_payload.configFile }}
          sourceURL: ${{ github.event.client_payload.hawkscanSourceUrl }}
          version: ${{ github.event.client_payload.hawkscanVersion }}
          verbose: ${{ github.event.client_payload.verbose }}
        env:
          APPLICATION_ID: ${{ github.event.client_payload.appId }}